.link {
    text-decoration: none;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color:black
}

.link:hover {
    color:red;
}

.card {
    width:20%;
    text-align: center;
}

.card-body .card-title {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: gray;
}

.card-text {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

#logo {
    margin: 0;
    display: block;
}

.table-text:hover {
    color: #C97D4E;
}

.score {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
    font-size: 4rem;
}
.year {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: gray;
}

.stocksymbol {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
}

.description {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
    font-size: 2rem;
}

