.nav-link:hover{
    text-decoration: underline;
}

#main-div{
    width: 100%; /* Full width */
    height: 100vh;
    background-image: url("/images/homepage_background.jpg.webp"); /* Replace with your image URL */
    background-size: cover; /* Scale image to cover the entire div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No tiling of the image */
}